/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  .action-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #218838;
  }
  
  .report-page {
    padding: 20px;
  }
  
  .report-page h1 {
    margin-bottom: 20px;
  }
  
  .report-page input[type="date"] {
    padding: 8px;
    margin: 5px;
    font-size: 14px;
  }
  
  .report-page button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  
  .report-page button:hover {
    background-color: #0056b3;
  }
  
  
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #34495e;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%; 
  transition: width 0.3s ease; 
  width: 40px; 
  height: 40px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  position: relative;
}

.back-button:hover {
  background-color: #34495e;
  width: 150px; 
  border-radius: 25px; 
}


.back-button .back-text {
  display: none; 
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.back-button:hover .back-text {
  display: inline;
}


.back-button svg {
  width: 20px; 
  height: 20px;
}

.back-button:hover svg {
  width: 16px;
  height: 16px;
} */
